html, body {
	margin:0px;
	padding: 0px;
	font-family: Arial;
}
.form.card {
	max-width: 800px;
	min-width: 600px;
	width: 80%;
	padding: 15px 30px;
	margin: 100px auto;
}
.form-group.c2 {
	width: 49%;
}
.form-group.c2.l {
    float: left;
}
.form-group.c2.r {
    float: right;
}