#home .products .product {
    max-width: 239px;
    width: 32%;
    float: left;
    margin-bottom: 10px;
}
#home .products .product:not(:nth-child(3n)) {
	margin-right: 10px;
}
#home .products .product .cover {
    height: 150px;
    background-image: url(/assets/img/no_product.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home .products .product .desc {
	width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    max-height: 50px;
    display: -webkit-box;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
#home .products .product .price {
    text-align: center;
    font-weight: bold;
    color: darkcyan;
    line-height: 66px;
}
#home .products .product .price .old {
	color: #d24848;
	font-size: 15px;
	text-decoration: line-through;
}
#home .products .product .price .now {
	color: #469242;
	font-size: 30px;
}
#home .products .product .details {
    text-align: center;
    margin: 10px 0;
}

#details_product .product .cover {
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#edit_products .products .product {
    display: table;
}
#edit_products .products .product .cover {
    float: left;
    height: 50px;
    width: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#edit_products .products .product .desc {
    float: left;
    padding-left: 10px;
    width: 50%;
    font-size: 12px;
    text-align: left;
    max-height: 40px;
    display: -webkit-box;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;

}
#edit_products .products .product .edit {
    float: right;
}